@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model User
@using eShopSolution.WebApp.Models.Signup.Schemas
@{
    ViewData["Title"] = "Sign Up";
}
@section css{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/Home.css" type="text/css" media="all" asp-append-version="true" />
    </environment>
}
<form class="container w-50 mt-5" asp-action="signup" asp-controller="Signup">
    <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input asp-for="username" class="form-control w-75" id="Username">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input asp-for="password" type="password" class="form-control w-75" id="Password">
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input asp-for="email" type="email" class="form-control w-75" id="Password">
    </div>
    <div class="mb-3">
        <label for="Phone" class="form-label">Phone</label>
        <input asp-for="phone" class="form-control w-75" id="Phone">
    </div>
    <button type="submit" class="btn btn-primary bg-color-pink ele-hover">Sign Up</button>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mx-2">
        <i class="fas fa-edit">Back</i>
    </a>
</form>
