@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Website made by <a href="https://www.facebook.com/profile.php?id=100008388424148">Mee</a>.</p>
</div>
